{% extends "base.html" %}
<div class="row">
    {% block body %}
    <h1>Detalhe Tarefa</h1>
    <br/>
        <form class="" action="" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="">Nome:</label>
                {{ tarefa.nome}}
            </div>
            <div class="form-group">
                <label for="">Descrição:</label>
                {{ tarefa.descricrao}}
            </div>
            <div class="form-group">
                <label for="">Data:</label>
                {{ tarefa.data_final}}
            </div>
            <div class="form-group">
                <label for="">Prioridade:</label>
                {{ tarefa.get_prioridade_display}}
            </div>
            <div class="form-group">
                <label for="">Categoria:</label>
                {{ tarefa.categoria}}
            </div>
            <div class="form-group">
                <a href="{% url 'tarefas:lista-tarefa' %}" class="btn btn-secondary" role="button">Lista Tarefa</a>

            </div>
        </form>

    {% endblock body %}
</div>
