{% extends "base.html" %}
{% load widget_tweaks %}
<div class="row">
    {% block body %}
    <h1>Nova Categoria</h1>
    <br/>
        <form class="" action="" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.nome.id_for_label }}">Nome:</label>
                {{ form.nome|add_class:"form-control" }}
            </div>
            <div class="form-group">
                <label for="{{ form.descricrao.id_for_label }}">Descrição:</label>
                {{ form.descricrao|add_class:"form-control" }}
            </div>
            <div class="form-group">
                <button type="submit" class = "btn btn-primary" >Salvar</button>
                <a href="{% url 'tarefas:categoria' %}" class="btn btn-secondary" role="button">Lista Categoria</a>
            </div>
        </form>

    {% endblock body %}
</div>
