{% extends "base.html" %}
{% load widget_tweaks %}
<div class="row">
    {% block body %}
    <h1>Alterar Senha</h1>
    <br/>
    {% if messages %}
        <div class="alert alert-warning" role="alert">
            {% for m in messages %}
                {{ m }}
            {% endfor %}
        </div>
    {% endif %}
    <form class="" action="" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.old_password.id_for_label }}">Senha antiga:</label>
            {% render_field form.old_password class="form-control" type="password" %}
        </div>
        <div class="form-group">
            <label for="{{ form.new_password1.id_for_label }}">Nova senha:</label>
            {% render_field form.new_password1 class="form-control" type="password" %}
        </div>
        <div class="form-group">
            <label for="{{ form.new_password2.id_for_label }}">Confirmar nova senha:</label>
            {% render_field form.new_password2 class="form-control" type="password" %}
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
    {% endblock body %}
</div>
