{% load staticfiles %}
{% load widget_tweaks %}
<!doctype html>
<html lang="pt">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Cadastro de novo usuario</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

</head>

<body>
  <div class="container">

    <h1>Cadastro de Usuarios</h1>

      <form class="" action="" method="post">
        {% csrf_token %}
        {% if messages %}
          <div class="alert alert-danger" role="alert">
              {% for m in messages %}
                  {{ m }}
              {% endfor %}
          </div>
        {% endif %}
        <div class="form-group">
          <label for="{{form.first_name.id_for_label}}">Nome</label>
          {{form.first_name|add_class:'form-control'}}
        </div>
        <div class="form-group">
          <label for="{{form.last_name.id_for_label}}">Sobrenome</label>
          {{form.last_name|add_class:'form-control'}}
        </div>
        <div class="form-group">
          <label for="{{form.username.id_for_label}}">Username</label>
          {{form.username|add_class:'form-control'}}
        </div>
        <div class="form-group">
          <label for="{{form.password.id_for_label}}">Password</label>
          {% render_field form.password class="form-control" type="password" %}
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a class="btn btn-secondary" href="{% url 'accounts:user-login' %}" >Voltar</a>
      </form>

  </div>
</body>

</html>
